<app-header></app-header>
<app-loading></app-loading>

<main class="flex items-center justify-center">
  <div class="text-center">
    <button
      class="px-4 bg-primary py-2 rounded text-white transition-all duration-300 ease-in-out"
      [ngClass]="buttonClass"
      appHoldable
      (holdTime)="holdHandler($event)"
    >
      This button is made as an Implementation of a custom directive kindly
      click for 10 seconds to go to my linkedIn Profile. Don't move your mouse
      away or you'll need to start over!😅
    </button>
    <div class="w-full bg-gray-200 rounded-full h-2.5 mt-2">
      <div
        class="bg-blue-600 h-2.5 rounded-full transition-all duration-100"
        [style.width.%]="progress"
      ></div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
