<div class="container mx-auto mt-10">
  <P> State Management Using NgRx Example</P>
  <h1 class="text-2xl font-bold mb-4">Todo List of Today</h1>

  <div class="mb-4">
    <input
      #todoTitle
      type="text"
      placeholder="e.g. hire Sarah.. 😁"
      class="p-2 border rounded"
    />
    <button
      (click)="addTodo(todoTitle.value)"
      class="bg-primary text-white px-4 py-2 rounded ml-2"
    >
      Add
    </button>
  </div>
  <ul>
    <li
      *ngFor="let todo of todos$ | async"
      class="flex justify-between items-center mb-2 p-2 border rounded"
    >
      <span [class.line-through]="todo.completed">{{ todo.title }}</span>
      <div>
        <button
          (click)="toggleTodo(todo.id)"
          class="bg-green-500 text-white px-2 py-1 rounded mr-2"
        >
          Toggle
        </button>
        <button
          (click)="removeTodo(todo.id)"
          class="bg-red-500 text-white px-2 py-1 rounded"
        >
          Remove
        </button>
      </div>
    </li>
  </ul>
</div>
